
 
<div class="container d-flex justify-content-center">
  <app-player1 (valEve)="mess=$event" (valEvetwo)="messtwo=$event"></app-player1>
<table class="table table-striped center">
  <tr *ngFor="let row of arr">
    <td *ngFor="let item of row"  [class.redr]="snakecheck(item)" [class.bl]="laddercheck(item)"  [class.gre]="playercheckone(item)" [class.pur]="playerchecktwo(item)">
      <small>{{item}}</small>
    </td>
  </tr>
</table>
<app-player2 (valEve)="ptwoone=$event" (valEvetwo)="ptwotwo=$event"></app-player2>
</div>
<!-- {{mess}}
{{messtwo}} -->

<!-- <div>
  <button >click</button>
</div> -->
<!-- <p>{{board[pi][pj]}}</p> -->
